@media screen and (min-width: 1200px) {
  .headerNav .navbar {
    height: 96px;
    margin-bottom: 0;
  }
  .headerNav .navbar .navbar-brand {
    padding: 6px;
  }
  .headerNav .navbar .navbar-brand img {
    width: 268px;
    margin-left: 9%;
  }
  .headerNav .navbar .container-fluid {
    height: 100%;
  }
  .headerNav .navbar .container-fluid .navbar-collapse {
    height: 100%;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav {
    height: 96px;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li {
    height: 100%;
    line-height: 96px;
    text-align: center;
    font-size: 20px;
    width: 120px;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a {
    line-height: 91px;
    padding: 0;
    display: block;
    color: #1A8A2F;
    box-sizing: border-box;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a:hover {
    border-bottom: 5px solid #1A8A2F;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .headerNav .navbar {
    height: 60px;
    margin-bottom: 0;
  }
  .headerNav .navbar .navbar-brand {
    padding: 6px;
  }
  .headerNav .navbar .navbar-brand img {
    width: 160px;
    margin-left: 9%;
  }
  .headerNav .navbar .container-fluid {
    height: 100%;
  }
  .headerNav .navbar .container-fluid .navbar-collapse {
    height: 100%;
    float: none;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav {
    height: 60px;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li {
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    width: 80px;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a {
    line-height: 55px;
    padding: 0;
    display: block;
    color: #1A8A2F;
    box-sizing: border-box;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a:hover {
    border-bottom: 5px solid #1A8A2F;
    background-color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .headerNav .navbar {
    margin-bottom: 0;
  }
  .headerNav .navbar .navbar-brand {
    padding: 4px;
  }
  .headerNav .navbar .navbar-brand img {
    width: 140px;
    margin-left: 9%;
  }
  .headerNav .navbar .navbar-toggle img {
    width: 25px;
  }
  .headerNav .navbar .container-fluid {
    height: 100%;
  }
  .headerNav .navbar .container-fluid .navbar-collapse {
    float: none!important;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav {
    height: auto;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li {
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a {
    line-height: 50px;
    padding: 0;
    display: block;
    color: #1A8A2F;
    box-sizing: border-box;
  }
  .headerNav .navbar .container-fluid .navbar-collapse .navbar-nav li a:hover {
    border-bottom: 5px solid #1A8A2F;
    background-color: #fff;
  }
}
/*# sourceMappingURL=i001.css.map */