<div class="i100">
  <img  class="hidden-xs hidden-sm phone" data-aos="fade-left" src="./img/phone.png" alt="">
  <div ng-include="'header.html'"></div>
  <div id="fullpage">
    <div class="section ">
      <div  class="swiper-banner-container">
        <div class="swiper-wrapper" >
          <div class="swiper-slide" style="height: 100%" ng-repeat="(index,item) in entity.banner" ng-click="goLink(item)">
            <img  ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+item.fid+'&proj=demo8'}}" alt="">
          </div>
        </div>
      </div>
    </div>
    <!--<div class="section visible-xs">-->
      <!--<div  class="swiper-banner-container">-->
        <!--<div class="swiper-wrapper" >-->
          <!--<div class="swiper-slide"><img  src="./img/i100/banner1.png" alt=""></div>-->
          <!--<div class="swiper-slide"><img src="./img/i100/banner2.png" alt=""></div>-->
          <!--<div class="swiper-slide"><img  src="./img/i100/banner3.png" alt=""></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="section told">
      <div class="container">
        <div class="title" data-aos="fade-down">
          <img src="./img/i103/told/title.png" alt="">
        </div>
        <div class="introduce">
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=1')">
            <div class="car">
              <img  ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.company1+'&proj=demo8'}}" alt="">
              <div class="tab-text">
                公司概况
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=2')">
            <div class="car">
              <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.company2+'&proj=demo8'}}" alt="">
              <div class="tab-text">
                公司荣誉
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=3')">
            <div class="car">
              <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.company3+'&proj=demo8'}}" alt="">
              <div class="tab-text">
                发展历程
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=4')">
            <div class="car">
              <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.company4+'&proj=demo8'}}" alt="">
              <div class="tab-text">
                愿景使命
              </div>
              <div class="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section comply">
         <!--style="background-image:url{{'(http://47.92.169.34/cgi-bin/download.pl?fid='+entity.national1+'&proj=demo8)'}}"-->


      <div class="container">
        <div class="bg-container">
        <div class="mapContainer" data-aos="zoom-in">
          <a href="#/i102?factory=1"><div class="city bj" alt=""></div></a>
          <a href="#/i102?factory=3"><div class="city sc" alt=""></div></a>
          <a href="#/i102?factory=6"><div class="city js" alt=""></div></a>
          <a href="#/i102?factory=5"><div class="city ah" alt=""></div></a>
          <a href="#/i102?factory=4"><div class="city fj" alt=""></div></a>
          <a href="#/i102?factory=2"><div class="city cq" alt=""></div></a>
        <img class="map"  src="./img/i100/map/map.png" alt="">
        </div>
        </div>
        <div class="map-text">
        <img class="mapTextLeft"  data-aos="fade-right" src="./img/i100/map/title.png" alt="">
        <img class="mapSubTextLeft" data-aos="fade-right" src="./img/mapSubTextLeft.png" alt="">
        <img class="mapTextRight" data-aos="fade-left" src="./img/mapTextRight.png" alt="">
        </div>
      </div>
    </div>
    <div class="section firend">
      <div class="container">
        <img class="section-title" data-aos="fade-down" src="./img/i100/serve/title.png" alt="">
        <div class="items clearfix">
          <div ng-repeat="(index,value) in entity.ptrcustomer" class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type='+index+1)">
            <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+value.hpicture+'&proj=demo8'}}" alt="">
          </div>
        </div>
        <img class="subTitle" data-aos="slide-up" src="./img/i100/serve/subTitle.png" alt="">
        <div class="container-swiper" data-aos="slide-up">
          <div class="siderLeft" ng-click="slidePrev()" alt="">
            <!--<img src="./img/siderLeft.png" alt="">-->
          </div>
          <div class="siderRight" ng-click="slideNext()" alt="">
            <!--<img  src="./img/siderRight.png" >-->
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div ng-repeat="item in entity.homepartner" class="swiper-slide">
                <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+item.fid+'&proj=demo8'}}"  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section news">
      <div class="container">
        <div class="title">
          <img class="section-title" data-aos="fade-down" src="./img/i100/news/title.png" alt="">
          <div class="more hidden-xs" onclick="goto_view('i103')">
            更多新闻
          </div>
        </div>

        <div class="newsItems clearfix">
          <div class="col-lg-6 col-md-6" ng-repeat="(index,item) in news" data-aos="zoom-out-up" ng-click="goDetail(item['_id'])">
            <div ng-class="{{['new', index<2?'sub':'']}}">
              <div class="left">
                <img ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+item.homepicture+'&proj=demo8'}}" alt="">
              </div>
              <div class="center">
                <div class="date">
                  <div class="day">{{item.day}}</div>
                  <div class="month">{{item.mon}}/{{item.year}}</div>
                </div>
              </div>
              <div class="right">
                <div class="title">{{item.title}}</div>
                <div class="text">
                  {{item.description}}
                </div>
                <img src="./img/detailBtn.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="more-m visible-xs" onclick="goto_view('i103')">
          更多新闻
        </div>
          </div>
        </div>
    <div class="section join">
      <div class="container">
        <div onclick="goto_view('i106')" style="cursor: pointer">
        <img class="a" data-aos="fade-down"   src="./img/i100/join/joinUs.png" alt="">
        <img class="b" data-aos="zoom-in-right"  ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.join1+'&proj=demo8'}}" alt="">
        </div>
        <div onclick="goto_view('i105')" style="cursor: pointer">
        <!--&lt;!&ndash;<img src="./img/joinImgL.png" alt="">&ndash;&gt;-->
        <!--<img class="d" data-aos="zoom-in-right" width="417" src="./img/hezuo.png" alt="">-->
        <!--<img class="e" data-aos="flip-up" width="674" src="./img/hezuot.png" alt="">-->
        <img class="f" data-aos="fade-up" width="878" ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.join2+'&proj=demo8'}}"  alt="">
        </div>

      </div>
    </div>
    <div class="section qrcode">
      <div class="container" data-aos="fade-up">
        <img class="code"  ng-src="{{'http://47.92.169.34/cgi-bin/download.pl?fid='+entity.qr1+'&proj=demo8'}}" alt="">
        <p class="text-center"  style="color: #666;font-size: 24px;margin-top: 25px">永辉彩食鲜服务号</p>
      </div>
    </div>
    <div  ng-if="device==='pc'" ng-include="'footer.html'"></div>
  </div>
</div>
<div  ng-if="device==='mobile'" ng-include="'baseFooter.html'"></div>
