<div class="i100">
  <img  class="hidden-xs hidden-sm phone" data-aos="fade-left" src="./img/phone.png" alt="">
  <div ng-include="'header.html'"></div>
  <div id="fullpage">
    <div class="section ">
      <div  class="swiper-banner-container">
        <div class="swiper-wrapper" >
          <div class="swiper-slide"><img  src="./img/i100/banner1.png" alt=""></div>
          <div class="swiper-slide"><img src="./img/i100/banner2.png" alt=""></div>
          <div class="swiper-slide"><img  src="./img/i100/banner3.png" alt=""></div>
        </div>
      </div>
    </div>
    <!--<div class="section visible-xs">-->
      <!--<div  class="swiper-banner-container">-->
        <!--<div class="swiper-wrapper" >-->
          <!--<div class="swiper-slide"><img  src="./img/i100/banner1.png" alt=""></div>-->
          <!--<div class="swiper-slide"><img src="./img/i100/banner2.png" alt=""></div>-->
          <!--<div class="swiper-slide"><img  src="./img/i100/banner3.png" alt=""></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="section told">
      <div class="container">
        <div class="title" data-aos="fade-down">
          <img src="./img/i103/told/title.png" alt="">
        </div>
        <div class="introduce">
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=1')">
            <div class="car">
              <img src="./img/car1.png" alt="">
              <div class="tab-text">
                公司概况
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=2')">
            <div class="car">
              <img src="./img/car2.png" alt="">
              <div class="tab-text">
                公司荣誉
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=3')">
            <div class="car">
              <img src="./img/car3.png" alt="">
              <div class="tab-text">
                发展历程
              </div>
              <div class="text">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('i101?type=4')">
            <div class="car">
              <img src="./img/car4.png" alt="">
              <div class="tab-text">
                愿景使命
              </div>
              <div class="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section comply">

      <div class="container">
        <div class="bg-container">
        <div class="mapContainer" data-aos="zoom-in">
          <a href="#/i102?factory=1"><div class="city bj" alt=""></div></a>
          <a href="#/i102?factory=3"><div class="city sc" alt=""></div></a>
          <a href="#/i102?factory=6"><div class="city js" alt=""></div></a>
          <a href="#/i102?factory=5"><div class="city ah" alt=""></div></a>
          <a href="#/i102?factory=4"><div class="city fj" alt=""></div></a>
          <a href="#/i102?factory=2"><div class="city cq" alt=""></div></a>
        <img class="map"  src="./img/i100/map/map.png" alt="">
        </div>
        </div>
        <div class="map-text">
        <img class="mapTextLeft"  data-aos="fade-right" src="./img/i100/map/title.png" alt="">
        <img class="mapSubTextLeft" data-aos="fade-right" src="./img/mapSubTextLeft.png" alt="">
        <img class="mapTextRight" data-aos="fade-left" src="./img/mapTextRight.png" alt="">
        </div>
      </div>
    </div>
    <div class="section firend">
      <div class="container">
        <img class="section-title" data-aos="fade-down" src="./img/i100/serve/title.png" alt="">
        <div class="items clearfix">
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=1')">
            <img src="./img/i100/serve/1.png" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=2')">
            <img src="./img/i100/serve/2.png" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=3')">
            <img src="./img/i100/serve/3.png" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=4')">
            <img src="./img/i100/serve/4.png" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=5')">
            <img src="./img/i100/serve/5.png" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-6" data-aos="flip-right" onclick="goto_view('i104?type=6')">
            <img src="./img/i100/serve/6.png" alt="">
          </div>
        </div>
        <img class="subTitle" data-aos="slide-up" src="./img/i100/serve/subTitle.png" alt="">
        <div class="container-swiper" data-aos="slide-up">
          <div class="siderLeft" ng-click="slidePrev()" alt="">
            <!--<img src="./img/siderLeft.png" alt="">-->
          </div>
          <div class="siderRight" ng-click="slideNext()" alt="">
            <!--<img  src="./img/siderRight.png" >-->
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="./img/i100/1.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/2.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/3.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/4.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/5.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/6.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/7.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/8.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/9.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/10.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/11.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/12.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/13.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/14.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/15.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/16.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/17.png" alt=""></div>
              <div class="swiper-slide"><img src="./img/i100/18.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section news">
      <div class="container">
        <div class="title">
          <img class="section-title" data-aos="fade-down" src="./img/i100/news/title.png" alt="">
          <div class="more hidden-xs" onclick="goto_view('i103')">
            更多新闻
          </div>
        </div>

        <div class="newsItems clearfix">
          <div class="col-lg-6 col-md-6" data-aos="zoom-out-up" onclick="goto_view('i103?detailId=1')">
            <div class="new sub">
              <div class="left">
                <img src="./img/i100/tu1.png" alt="">
              </div>
              <div class="center">
                <div class="date">
                  <div class="day">07</div>
                  <div class="month">07/2019</div>
                </div>
              </div>
              <div class="right">
                <div class="title">永辉B2B全品类发力：彩食鲜总部北上，
                  全国布仓，年内50亿销售</div>
                <div class="text">
                  永辉超市旗下“彩食鲜”全国总部，日前从福州大本营正式迁址北京。
                  这一动作，或始于两方面战略导向：
                  一、永辉全面发力B2B市场。彩食鲜将从专注生鲜食材的垂直B2B业务，延伸至囊括快消品、日用品等商超全品类、一站式、集成式供应B端。

                  二、彩食鲜2B端的“打法”是抓大放小，路径是自上而下。北上广深一线城市是彩食鲜率先要覆盖的重点区域，然后是福建、西南市场。彩食鲜引入了规模性BD团队，集中做B端用户的拓展。头部企业、跨国公司、大公司是头号客户目标。

                  业绩上，彩食鲜称，今年“拿下”50亿元的目标没问题。按永辉超市财报，2018年彩食鲜完成销售24亿元。
                </div>
                <img src="./img/detailBtn.png" alt="">

              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="zoom-out-up" onclick="goto_view('i103?detailId=2')">
            <div class="new sub">
              <div class="left">
                <img src="./img/i100/tu2.png" alt="">
              </div>
              <div class="center">
                <div class="date">
                  <div class="day">02</div>
                  <div class="month">07/2019</div>
                </div>
              </div>
              <div class="right">
                <div class="title">“开放、融合、创新、前行” |
                  机构代表团参访江苏永辉彩食鲜工厂</div>
                <div class="text">
                  6月21日，工商银行、招商银行、建信股权、平安银行、新华保险、中宏人寿、中英人寿、中意资产、诺亚财富等10余家机构组成的代表团莅临江苏永辉彩食鲜工厂参观。永辉彩食鲜创业合伙人程楷、永辉彩食鲜江苏区域总经理胥浩、江苏永辉彩食鲜工厂厂长杨建楠等陪同。            </div>
                <img src="./img/detailBtn.png" alt="">
              </div>

              </div>

            </div>

          <div class="col-lg-6 col-md-6" data-aos="zoom-out-up" onclick="goto_view('i103?detailId=3')">
            <div class="new">
              <div class="left">
                <img src="./img/i100/tu3.png" alt="">
              </div>
              <div class="center">
                <div class="date">
                  <div class="day">21</div>
                  <div class="month">06/2019</div>
                </div>
              </div>
              <div class="right">
                <div class="title">永辉彩食鲜在重庆举行第二季度食品安全会议</div>
                <div class="text">
                  永辉彩食鲜建设初期就将食品安全放在首位。根据管理层战略，每季度由公司高层牵头，平台负责具体落实，召集下属区域组织召开食品安全会议，并根据各区域的阶段性食品安全工作，进行有效的落地培训，本次会议日程为2019年6月11日到2019年6月13日，选择最早成立的重庆彩食鲜工厂为会议地点，“提升，赋能，共创，前行”为本次会议主题。
                </div>
                <img src="./img/detailBtn.png" alt="">
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="zoom-out-up" onclick="goto_view('i103?detailId=4')">
            <div class="new">
              <div class="left">
                <img src="./img/i100/tu4.png" alt="">
              </div>
              <div class="center">
                <div class="date">
                  <div class="day">07</div>
                  <div class="month">06/2019</div>
                </div>
              </div>
              <div class="right">
                <div class="title">喜迁新总部，启航新时代 |
                  永辉彩食鲜总部办公室正式入驻北京</div>
                <div class="text">
                  承天时，聚地利，凝人和；彩迁福地，共展“京”图。2019年6月3日，永辉彩食鲜发展有限公司新总部乔迁典礼在北京市丰台区丰科路房天下大厦隆重举行。
                </div>
                <img src="./img/detailBtn.png" alt="">
                </div>
              </div>

            </div>
        </div>
        <div class="more-m visible-xs" onclick="goto_view('i103')">
          更多新闻
        </div>
          </div>
        </div>
    <div class="section join">
      <div class="container">
        <div onclick="goto_view('i106')" style="cursor: pointer">
        <img class="a" data-aos="fade-down"  width="234" src="./img/i100/join/joinUs.png" alt="">
        <img class="b" data-aos="zoom-in-right" width="1024" src="./img/i100/join/joinImg.png" alt="">
        </div>
        <div onclick="goto_view('i105')" style="cursor: pointer">
        <!--&lt;!&ndash;<img src="./img/joinImgL.png" alt="">&ndash;&gt;-->
        <!--<img class="d" data-aos="zoom-in-right" width="417" src="./img/hezuo.png" alt="">-->
        <!--<img class="e" data-aos="flip-up" width="674" src="./img/hezuot.png" alt="">-->
        <img class="f" data-aos="fade-up" width="878" src="./img/i100/join/joinBottom.png" alt="">
        </div>

      </div>
    </div>
    <div class="section qrcode">
      <div class="container" data-aos="zoom-in">
        <img class="code"  src="./img/qrCode.png" alt="">
        <p class="text-center"  style="color: #666;font-size: 24px;margin-top: 25px">永辉彩食鲜服务号</p>
      </div>
    </div>
    <div  ng-if="device==='pc'" ng-include="'footer.html'"></div>
  </div>
</div>
<div  ng-if="device==='mobile'" ng-include="'baseFooter.html'"></div>
