@media screen and (min-width: 1200px) {
  .i100 .title,
  .i100 .introduce {
    font-size: 40px;
  }
  .i100 .told {
    background-color: #E5E5E5;
  }
  .i100 .told .title {
    width: 665px;
    display: block;
    margin: 0 auto;
  }
  .i100 .swiper-banner-container {
    padding-top: 100px;
  }
  .i100 .swiper-banner-container .swiper-slide img {
    width: 100%;
  }
  .i100 .introduce {
    margin-top: 100px;
  }
  .i100 .introduce .car {
    background-color: #fff;
    height: 320px;
    padding-top: 80px;
    border-bottom: 2px solid #1A8A2F;
    cursor: pointer;
  }
  .i100 .introduce .car:hover {
    box-shadow: 0px 10px 10px #ddd;
  }
  .i100 .introduce .car img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  .i100 .introduce .car .tab-text {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #18922F;
  }
  .i100 .introduce .car .text {
    font-size: 16px;
    padding: 20px 30px 0 30px;
  }
  .i100 .comply {
    background-image: url("./img/i100/map/bg.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer {
    width: 780px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .i100 .comply .mapContainer .city {
    position: absolute;
    width: 30px;
    height: 44px;
  }
  .i100 .comply .mapContainer .city.bj {
    left: 520px;
    top: 226px;
    background-image: url("./img/i100/map/bj.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.bj:hover {
    background-image: url("./img/i100/map/bjH.png");
  }
  .i100 .comply .mapContainer .city.sc {
    left: 358px;
    top: 370px;
    background-image: url("./img/i100/map/sc.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.sc:hover {
    background-image: url("./img/i100/map/scH.png");
  }
  .i100 .comply .mapContainer .city.cq {
    left: 400px;
    top: 399px;
    background-image: url("./img/i100/map/cq.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.cq:hover {
    background-image: url("./img/i100/map/cqH.png");
  }
  .i100 .comply .mapContainer .city.js {
    left: 586px;
    top: 358px;
    background-image: url("./img/i100/map/js.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.js:hover {
    background-image: url("./img/i100/map/jsH.png");
  }
  .i100 .comply .mapContainer .city.fj {
    left: 565px;
    top: 452px;
    background-image: url("./img/i100/map/fj.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.fj:hover {
    background-image: url("./img/i100/map/fjH.png");
  }
  .i100 .comply .mapContainer .city.ah {
    left: 532px;
    top: 352px;
    background-image: url("./img/i100/map/ah.png");
    background-size: 100% 100%;
  }
  .i100 .comply .mapContainer .city.ah:hover {
    background-image: url("./img/i100/map/ahH.png");
  }
  .i100 .comply .mapContainer .map {
    width: 100%;
    height: 100%;
  }
  .i100 .comply .mapTextLeft {
    width: 780px;
    display: block;
    margin-left: 200px;
    position: relative;
    top: -40px;
  }
  .i100 .comply .mapSubTextLeft {
    width: 352px;
    float: left;
    margin-left: 200px;
  }
  .i100 .comply .mapTextRight {
    width: 295px;
    margin-left: 140px;
  }
  .firend {
    background-color: #E5E5E5;
  }
  .firend .section-title {
    width: 712px;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 0 30px 0;
  }
  .firend .subTitle {
    text-align: center;
    font-size: 30px;
    color: #1A8A2F;
    font-weight: bold;
  }
  .firend .subTileImg {
    width: 375px;
    display: block;
    margin: 10px auto 0 auto;
  }
  .firend .swiper-container {
    height: 80px;
  }
  .firend .swiper-container img {
    height: 100%;
    width: 100%;
  }
  .firend .items img {
    width: 310px;
    display: block;
    cursor: pointer;
    margin: 0 auto 30px auto;
  }
  .firend .items img:hover {
    box-shadow: 0px 10px 10px #ddd;
  }
  .firend .subTitle {
    display: block;
    width: 340px;
    margin: 20px auto 40px auto ;
  }
  .firend .container-swiper {
    position: relative;
  }
  .firend .container-swiper .siderLeft {
    position: absolute;
    width: 28px;
    height: 35px;
    left: -28px;
    top: 25px;
    cursor: pointer;
    background-image: url("./img/siderLeft.png");
    background-size: 100% 100%;
  }
  .firend .container-swiper .siderLeft:hover {
    background-image: url("./img/siliderLeftH.png");
  }
  .firend .container-swiper .siderRight {
    position: absolute;
    width: 28px;
    height: 35px;
    right: -28px;
    top: 25px;
    cursor: pointer;
    background-image: url("./img/siderRight.png");
    background-size: 100% 100%;
  }
  .firend .container-swiper .siderRight:hover {
    background-image: url("./img/siderRightH.png");
  }
  .news {
    background-color: #f6f6f6;
  }
  .news .section-title {
    width: 195px;
    padding-top: 0;
    display: block;
    margin: 0 auto;
  }
  .news .title {
    position: relative;
  }
  .news .title .more {
    position: absolute;
    right: 20px;
    top: 40px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    width: 126px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  .news .title .more:hover {
    border: 2px solid #18922F;
    color: #18922F;
  }
  .news .newsItems .new {
    height: 272px;
    margin-bottom: 15px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  .news .newsItems .new:hover {
    box-shadow: 4px 4px 4px #ddd;
  }
  .news .newsItems .new .left {
    float: left;
  }
  .news .newsItems .new .left img {
    height: 272px;
    width: 272px;
  }
  .news .newsItems .new .center {
    width: 70px;
    float: left;
    height: 272px;
  }
  .news .newsItems .new .center .date {
    text-align: center;
    padding-top: 30px;
  }
  .news .newsItems .new .center .date .day {
    font-size: 32px;
    color: #89D05C;
    font-weight: bold;
  }
  .news .newsItems .new .center .date .month {
    font-size: 12px;
    position: relative;
    top: -10px;
    color: #222;
  }
  .news .newsItems .new .right {
    float: left;
    width: 213px;
  }
  .news .newsItems .new .right .title {
    font-size: 16px;
    color: #222;
    font-weight: bold;
    padding: 20px 20px 0px 10px;
  }
  .news .newsItems .new .right .text {
    color: #777;
    font-size: 12px;
    line-height: 22px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
  }
  .news .newsItems .new .right img {
    width: 134px;
    cursor: pointer;
    margin: 10px 0 0 10px;
  }
  .news .newsItems .new.sub .left {
    float: right;
  }
  .news .newsItems .new.sub .center {
    float: right;
  }
  .news .newsItems .new.sub .right {
    float: right;
  }
  .join {
    background-color: #E6E6E6;
    background-size: 100% 100%;
  }
  .join .container {
    padding: 0 140px;
  }
  .join .a {
    display: block;
    margin-bottom: 50px;
    width: 234px;
  }
  .join .b {
    display: inline-block;
    margin-bottom: 60px;
  }
  .join .c {
    display: inline-block;
    margin-bottom: 60px;
    float: right;
  }
  .join .d {
    margin-bottom: 30px;
    display: block;
  }
  .join .e {
    display: block;
    margin: 0 auto 30px auto;
  }
  .join .f {
    display: block;
  }
  .qrcode {
    background-color: #f6f6f6;
  }
  .qrcode .container {
    text-align: center;
  }
  .qrcode .code {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin: 0 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .i100 .title,
  .i100 .introduce {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .i100 .title,
  .i100 .introduce {
    font-size: 16px;
  }
}
.i100 .phone {
  position: fixed;
  right: 70px;
  top: 200px;
  z-index: 100;
}
.i100 .title .titleEn {
  width: 16.5em;
  display: block;
  margin: 40px auto 0 auto;
}
.i100 .title .titleCn {
  width: 7em;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -0.3em;
}
.i100 .title .subTitle {
  width: 4.5em;
  display: block;
  margin: 0.2rem auto;
}
.i100 .introduce .car {
  margin-top: 2rem;
  background-color: #fff;
}
/*# sourceMappingURL=i100.css.map */