.i102{
  .banner{
    img{
      width: 100%;
    }
  }
  .two{
    background-color: #fff;
    padding: 80px 0;
    .title{
      width: 880px;
      display: block;
      margin: 0 auto;
    }
    .text{
      position: relative;
      letter-spacing: 6px;
      font-size: 24px;
      margin-top: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      .inner{
        width: 988px;
        margin: 0 auto;
      }
      .two2{
        position: absolute;
        left: 0;
        top:0;
        width: 46px;
        height: 42px;
      }
      .two3{
        position: absolute;
        width: 46px;
        height: 42px;
        bottom: 0;
        right:0
      }
    }
    .imgs{
      margin-top: 30px;
      div{
        padding: 5px;
      }
      img{
        width: 100%;
      }
    }
  }
  .three{
    #myMap{
      height: 900px;
      border-bottom: 3px solid #84C759;
    }
    .regions{
      text-align: center;
      position: relative;
      top:-88px;
      z-index: 200;
      .region{
        background-image: url("./img/i102/three2.png");
        float: left;
        width: 194px;
        height: 178px;
        font-size: 30px;
        color: #999;
        padding-top: 64px;
        img{
          width: 68px;
          display: block;
          margin: 0 auto 10px auto;
        }
        background-size: 100% 100%;
        &.active{
          background-image: url("./img/i102/three1.png");
          color: #fff;
          padding-top: 30px;
        }
      }
    }
  }
  .four{
    .title{
      width:634px;
      display: block;
      margin: 0 auto;
    }
    .video{
      height: 490px;
      background-color: #000;
      margin: 50px auto;
    }
    .line{
      width: 200px;
      height: 10px;
      margin-top: 50px;
      background-color: #9DD27A;
      margin-bottom: 50px;
    }
    .text{
      line-height: 36px;
      text-indent: 2em;
    }
    .pics{
      margin-top: 100px;
      margin-bottom: 60px;
      img{
        width: 100%;
      }
    }
  }
}
